body {
  padding: 0;
  margin: 0;
}

.react {
  background: aqua;
  color: black;
  font-size: 48px;
  font-weight: bold;
  padding: 16px;
}

.title {
  color: aqua;
  font-size: 48px;
  font-weight: bold;
}
